# CodeIgniter 4
writable/cache/*
!writable/cache/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html
writable/debugbar/*

# Environment
.env
.env.backup
.env.production

# IDE Files
.idea/
.vscode/
nbproject/
.DS_Store

# Composer
vendor/
composer.lock

# Node.js
node_modules/
package-lock.json

# Archivos de configuración local
phpunit.xml
*.swp
*.swo
